# Build & dependency directories
node_modules/
.dart_tool/
build/
.gradle/
.idea/
.vscode/
*.iml
*.log

# Temporary database files
*.tmp

# Binaries
*.apk

# Environment variables
.env
.env.local

# Miscellaneous
.DS_Store
Thumbs.db

