PORT=3000
NODE_ENV=development

# Database MySQL Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cbt_system

# JWT Configuration
JWT_SECRET=cbt_super_secure_jwt_access_secret_key_2026_antigravity
JWT_EXPIRES_IN=2h
JWT_REFRESH_SECRET=cbt_ultra_secure_jwt_refresh_secret_key_2026_antigravity
JWT_REFRESH_EXPIRES_IN=7d

